*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.container{
    text-align: center;
    margin: 30px auto;
    background-color: brown;
    width: 40%;
    padding: 4%;
    border-radius: 2rem;
}
 .startNumber, .topNumber{
     height: 2rem;
 }

h3{
    color: rgb(172, 187, 10);
    margin-bottom: 5px;
}

.buttons{
    margin: 15px 0;
    
}
.palButton{
    width: 150px;
    height: 2rem;
    background-color: thistle;
    border-width: 3px;
}
.perButton{
    margin-left: px;
    width: 150px;
    height: 2rem;
    background-color: thistle;
    border-width: 3px;
}